# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

*~
*.sw[mnpcod]
*.log
*.tmp
*.tmp.*
log.txt
*.sublime-project
*.sublime-workspace
.vscode/
npm-debug.log*

.idea/
app/.ionic/
app/.sourcemaps/
app/.sass-cache/
app/.tmp/
app/.versions/
app/coverage/
app/www/
app/node_modules/
app/tmp/
app/temp/
app/platforms/
app/plugins/
app/plugins/android.json
app/plugins/ios.json
$RECYCLE.BIN/

.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate
