<ion-list>
  <ion-item *ngFor="let merchant of merchants.data?.results; trackBy: trackById" [routerLink]="merchant.id"
            target="_blank" detail>
    <ion-label>
      <h3>{{ merchant.name }}</h3>
      <ng-container *ngIf="merchant.opening_hours">
        <div class="open-until">
          <span [class.open]="merchant.opening_hours.open_now" [class.closed]="!merchant.opening_hours.open_now">
            {{ merchant.opening_hours.open_until }}
          </span>
        </div>
      </ng-container>
    </ion-label>
  </ion-item>
</ion-list>
<ion-infinite-scroll threshold="100px" (ionInfinite)="loadMore.emit()" [disabled]="!merchants.data?.more">
  <ion-infinite-scroll-content></ion-infinite-scroll-content>
</ion-infinite-scroll>
