<ion-content>
  <div class="container">
    <ion-spinner *ngIf="(projects$ | async)?.loading as loading"></ion-spinner>
    <div class="project-content">
      <ion-slides pager="false" [options]="{zoom:{enabled: false}}"
                  (ionSlideDidChange)="loadProject()" #slider>
        <ion-slide *ngFor="let project of projectList$ | async; let isFirst = first; let isLast = last;">
          <div class="swiper-button-prev" (click)="slider.slidePrev()" *ngIf="!isFirst"></div>
          <div class="swiper-button-next" (click)="slider.slideNext()" *ngIf="!isLast"></div>
          <app-project-card [project]="project"
                            [projectDetails]="(project$ | async)?.data?.id === project.id ? (project$ | async): dummyLoadable"
                            (projectClicked)="projectClicked($event)"></app-project-card>
        </ion-slide>
      </ion-slides>
    </div>
    <ion-button (click)="startScanning()" class="scan-button">
      <span>{{ 'scan' | translate }}</span>
    </ion-button>
  </div>
</ion-content>
