<ion-header>
  <ion-toolbar>
    <ion-title>{{ 'Participation moneybox' | translate }}</ion-title>
  </ion-toolbar>
  <ion-buttons slot="start">
    <ion-back-button></ion-back-button>
  </ion-buttons>
</ion-header>
<ion-content *ngIf="projects$ | async as projects">
  <ion-spinner *ngIf="projects.loading"></ion-spinner>
  <ion-card *ngFor="let project of projects.data" (click)="projectClicked(project)">
    <ion-card-header>
      <ion-card-title>
        {{ project.budget.amount | currency : project.budget.currency : 'symbol': '1.0' }}
      </ion-card-title>
      <ion-card-subtitle>{{ 'ends_on_x' | translate : {date: project.end_date | date} }}</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <h4>{{ project.statistics.total }} / {{ project.action_count }} {{ 'actions' | translate }}</h4>
      <ion-button color="primary">{{ 'details' | translate }}</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
