<form (ngSubmit)="linkQr(form)" fxFlex fxLayout="column" class="psp-default-component-margin container" #form="ngForm">
  <div>
    <button type="button" mat-raised-button (click)="scanQR()">
      {{ 'psp.scan_qr_code' | translate }}
    </button>
  </div>
  <ng-container *ngIf="showScanner">
    <mat-form-field>
      <mat-label>{{ 'psp.camera_device' | translate }}</mat-label>
      <mat-select name="device" [(ngModel)]="currentDevice">
        <mat-option *ngFor="let device of scanner.camerasFound | async" [value]="device">
          {{ device.label }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <zxing-scanner [device]="currentDevice" [formats]="['QR_CODE']" (scanSuccess)="qrScanned($event)"
                   (camerasFound)="setDefaultDevice($event)"
                   #scanner></zxing-scanner>
  </ng-container>
  <mat-form-field>
    <mat-label>{{ 'psp.qr_content' | translate }}</mat-label>
    <input matInput name="qr_content" [ngModel]="data.qr_content" readonly required>
    <mat-error>{{ 'psp.please_scan_a_qr_code' | translate }}</mat-error>
  </mat-form-field>
  <mat-form-field>
    <mat-label>{{ 'psp.name' | translate }}</mat-label>
    <input name="name" matInput [(ngModel)]="data.name" (ngModelChange)="nameChanged($event)" [matAutocomplete]="auto"
           required>
    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="setPlace($event)">
      <mat-option *ngFor="let option of (places$ | async).data" [value]="option">
        {{ option.name }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
  <mat-form-field>
    <mat-label>{{ 'psp.address' | translate }}</mat-label>
    <input name="address" matInput [(ngModel)]="data.formatted_address" required>
    <mat-hint *ngIf="positionDenied">{{ 'psp.allow_gps_location_for_better_results' | translate }}</mat-hint>
  </mat-form-field>
  <h4>{{ 'psp.opening_hours' | translate }}</h4>
  <psp-opening-hours [openingHours]="data.opening_hours" (changed)="setOpeningHours($event)"></psp-opening-hours>
  <div class="submit-btn" *ngIf="activateStatus$ | async as status">
    <mat-spinner [diameter]="40" *ngIf="status.loading"></mat-spinner>
    <button mat-raised-button [disabled]="status.loading">
      {{ 'psp.submit' | translate }}
    </button>
  </div>
</form>
