<form class="container" #form="ngForm">
  <div>
    <button type="button" mat-raised-button (click)="scanQR()">
      {{ 'psp.scan_qr_code' | translate }}
    </button>
  </div>
  <ng-container *ngIf="showScanner">
    <mat-form-field>
      <mat-label>{{ 'psp.camera_device' | translate }}</mat-label>
      <mat-select name="device" [(ngModel)]="currentDevice">
        <mat-option *ngFor="let device of scanner.camerasFound | async" [value]="device">
          {{ device.label }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <zxing-scanner [device]="currentDevice" [formats]="['QR_CODE']" (scanSuccess)="qrScanned($event)"
                   (camerasFound)="setDefaultDevice($event)"
                   #scanner></zxing-scanner>
  </ng-container>
  <mat-form-field>
    <mat-label>{{ 'psp.qr_content' | translate }}</mat-label>
    <input matInput name="qr_content" [(ngModel)]="data.qr_content" required>
    <mat-error>{{ 'psp.please_scan_a_qr_code' | translate }}</mat-error>
  </mat-form-field>
  <psp-edit-merchant [merchant]="data.merchant"
                     [status]="activateStatus$ | async"
                     (saved)="linkQr(form, $event)"></psp-edit-merchant>
</form>
