<mat-toolbar>
  <a mat-icon-button routerLink="..">
    <mat-icon>arrow_back</mat-icon>
  </a>
  <h2>{{ (merchant$ | async)?.name }}</h2>
</mat-toolbar>
<div class="container">
  <psp-edit-merchant [merchant]="merchant"
                     [status]="merchantStatus$ | async"
                     (saved)="save($event)"
                     [uploadPictureStatus]="pictureStatus$ | async"
                     (deletePicture)="deletePicture($event)"
                     (fileChosen)="uploadFile($event)"
                     *ngIf="merchant$ | async as merchant"></psp-edit-merchant>
</div>
