.submit-btn {
  display: flex;
  justify-content: flex-end;
}

.fields {
  display: flex;
  flex-direction: column;
}

.image-container {
  margin: 16px;
  position: relative;
  display: inline-block;

  img {
    height: 150px;
  }

  .delete-button {
    position: absolute;
    right: -16px;
    top: -16px;
  }
}
