<ion-header>
  <ion-toolbar>
    <ion-title>{{ (project$ | async)?.data?.title }}</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref=""></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content *ngIf="(project$ | async)?.data as project">
  <ion-card>
    <ion-card-header>
      <ion-card-title>{{ project.title }}</ion-card-title>
    </ion-card-header>
    <ion-card-content [innerHTML]="project.description | markdown"></ion-card-content>
  </ion-card>
</ion-content>
