<ion-header>
  <ion-toolbar>
    <ion-title>{{ (merchant$ | async)?.data?.name }}</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref=""></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content padding *ngIf="(merchant$ | async)?.data as merchant">
  <ion-list>
    <ion-item [href]="mapsUrl$ | async">
      <ion-icon name="pin" slot="start"></ion-icon>
      <ion-label>{{ merchant.formatted_address }}</ion-label>
    </ion-item>
    <ion-item *ngIf="merchant.formatted_phone_number" [href]="'tel://' + merchant.formatted_phone_number">
      <ion-icon name="call" slot="start"></ion-icon>
      <ion-label>{{ merchant.formatted_phone_number }}</ion-label>
    </ion-item>
    <ion-item *ngIf="merchant.website" [href]="merchant.website" target="_blank">
      <ion-icon name="globe" slot="start"></ion-icon>
      <ion-label>{{ merchant.website}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-icon name="time" slot="start"></ion-icon>
      <ion-label>{{ merchant.opening_hours.open_until }}</ion-label>
    </ion-item>
    <ng-container *ngIf="merchant.opening_hours">
      <ion-item *ngFor="let period of merchant.opening_hours.weekday_text">
        <ion-label>{{ period }}</ion-label>
      </ion-item>
    </ng-container>
  </ion-list>
</ion-content>
